# Dependencies
node_modules

# Build outputs
dist
dist-ssr
.next
out

# Environment
.env
.env.local
.env*.local
*.local

# TanStack
.nitro
.tanstack
.wrangler
.output
.vinxi

# OS/IDE
.DS_Store

# Misc
count.txt
todos.json
